<!-- Menu du coté  -->
<!-- main side bar  -->
<!-- MAIN NAVIGATION -->
<!--===================================================-->

<nav id="mainnav-container" data-sm="mainnav-sm" data-all="mainnav-lg">
    <div id="mainnav">


        <!-- MAIN NAVIGATION : SHORTCUT -->
        <!--===================================================-->
   <!--     <div id="mainnav-shortcut">
            <ul class="list-unstyled">

                <!-- Shortcut buttton-->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!--              <li class="col-xs-4" data-content="Additional Sidebar">
                        <a id="demo-toggle-aside" class="shortcut-grid" href="#" >
                            <i class="fa fa-magic"></i>
                        </a>
                    </li>



                    <!-- Shortcut buttton-->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!--            <li class="col-xs-4" data-content="Notification">
                      <a id="demo-alert" href="#" class="shortcut-grid">
                          <i class="fa fa-bullhorn"></i>
                      </a>
                  </li>



                  <!-- Shortcut buttton-->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!--            <li class="col-xs-4" data-content="Page Alerts">
                      <a id="demo-page-alert" href="#" class="shortcut-grid">
                          <i class="fa fa-bell"></i>
                      </a>
                  </li>


              </ul>
          </div>
          <!--===================================================-->
        <!-- MAIN NAVIGATION : SHORTCUT -->







        <!-- MAIN NAVIGATION : MENU -->
        <!--===================================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                    <ul id="mainnav-menu" class="list-group">

                        <!--Category name-->
                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        <li class="list-header">Menu</li>


                        <!-- Menu list item -->
                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        <li>
                            <a href={{ path('doctor') }}>
                                <i class="fa fa-dashboard"></i>
                                <span class="menu-title"><strong>Accueil</strong> <!--<span class="label label-success pull-right">New</span>--></span>
                            </a>
                        </li>

                        <!-- Menu list item -->
                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        <li>
                            <a href={{ path('editDoctor') }}>
                                <i class="fa fa-dashboard"></i>
                                <span class="menu-title"><strong>Mes coordonnées</strong> <!--<span class="label label-success pull-right">New</span>--></span>
                            </a>
                        </li>
                </div>
            </div>
        </div>
        <!--===================================================-->
        <!-- END OF MAIN NAVIGATION : MENU -->


    </div>
</nav>
<!--===================================================-->
<!-- END OF MAIN NAVIGATION -->
